<!DOCTYPE html>

<head>
    <title>Crud Table</title>
    <link rel="stylesheet" href="/public/styles.css" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="main-container">
        <div class="up-cont">
            <h2 class="title">Employee Details</h2>
            <button class="addButton">Add</button>
        </div>
        <table class="crud-cont">
            <tr class=todo-header>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Delete-Edits</th>
            </tr>
        </table>
    </div>
    <script src="main.js"></script>
</body>